@model IEnumerable<Software_2.Models.Registrar>

<div class="container">
<h2>Lista de Usuarios
</h2>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<p>
    <button class="btn btn-primary" onclick="window.location='@Url.Action("Registro", "Home")'">Registrar</button>
</p>
<table class="table table-hover table-dark">
    <thead class="thead-dark">
        <tr>
                <th scope="col">
                    #
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.DNI)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
        </tr>
    </thead>

    <tbody>

    @foreach (var item in Model)
    {
        <tr>
            <th scope="row">
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.DNI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
           <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
        </tr>
    }        
    </tbody>    
</table>
</div>
@if ((String)TempData["prueba"] == "prueba01")
{
    <input value="hola" id="hola01" type="hidden">
}

@if ((String)TempData["prueba02"] == "prueba02") 
{
    <input value="hola" id="prueba02" type="hidden">
}

    <script>
        
        var x = document.getElementById('hola01').value;

        if(x == "hola") {
        
            Swal.fire(
                'Registro exitoso',
                'El producto ha sido registrado exitosamente',
                'success'
            )
  
        }

       

    </script>

   <script>
        
        var y = document.getElementById('prueba02').value;

        if(y == "hola") {

            Swal.fire(
                'Editado correctamente',
                'El producto se ha editado correctamente',
                'success'
            )
        }
   </script> 

